@page "/edit2/{DataID}/{DataKey}/{FromType}"
@using Suityou.Framework.Web.DataModel;

<div id="header" class="title">
    <h2>@dataName @title</h2>
</div>

<div id="button_area">
    <button class="btn btn-normal" @onclick="@(s => NaviButtonClick("back", "0"))">@buttonBack</button>
</div>

<br />

<div id="main_area">
    <EditableFormEx DataInfo="@dataInfo" DataKey="@datakey" DrTarget="@drTargetData" DsSubTable="@dsSubTableData" />
</div>
